<div class="search">
	<form action="/search/" method="get">
		<input type="text" id="search-query" name="q" placeholder="Search jr.com" autocomplete="on">
	</form>
</div>
<div id="main-search">
	<section id="search-results" style="display: none;">
		<article class="hentry">
			<div class="entry-content">
				<h1>Search Results</h1>
				<div class="entries">
				</div>
			</div>
		</article>
	</section>

	{% raw %}
	<script id="search-results-template" type="text/mustache">
		{{#entries}}
		<li>
			<h3>
				{{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
				- <a href="{{url}}">{{title}}</a>
			</h3>
		</li>
		{{/entries}}
	</script>
	{% endraw %}
</div> 
